<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Snappy Snips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Snappy Snips</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/stylists">Stylists</a></li>
          <li><a href="/clients">Clients</a></li>
          <li><a href="/specialties">Specialties</a></li>
          <li><a href="/stylists/new">Add a Stylist</a></li>
          <li><a href="/clients/new">Add a Client</a></li>
          <li><a href="/specialties/new">Add a Specialty</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div class="jumbotron text-center">
      <h1>Snappy Snips</h1>
      </div>
        @RenderBody()
      </div>
    </body>
  </html>
