@{
  Layout = "_Layout";
}

<form class="form-inline" action="/stylists" method="post">
  <div class="form-group">
    <label for="new-name">Stylist name:</label>
    <input id="new-name" class="form-control" name="new-name" type="text">
  </div>
  <div class="form-group">
    <label for="new-hire-date">Date of hire:</label>
    <input id="new-hire-date" class="form-control" name="new-hire-date" type="date">
  </div>
  <div class="form-group">
    <label for="new-phone">Phone:</label>
    <input id="new-phone" class="form-control" name="new-phone" type="text">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
