@{
  Layout = "_Layout";
}

@if (Model.Count == 0)
{
  <h3>No stylists yet</h3>
  <p>Select "Add a Stylist" on the navigation bar to add stylists</p>
}
else
{
<h2>Stylists</h2>
<p>Click on stylist name to see stylist details</p>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>View Clients</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var stylist in Model)
    {
      <tr>
        <td class="col-sm-3"><a href="/stylists/@stylist.GetId()/details"><h3>@stylist.GetName()</h3></a></td>
        <td class="col-sm-3"><a href="/stylists/@stylist.GetId()/view">View all clients of this stylist</a></td>
        <td class="col-sm-3"><a href="/stylists/@stylist.GetId()/update" class="btn btn-default" role="button">Edit this stylist</a></td>
        <td class="col-sm-3"><a href="/stylists/@stylist.GetId()/delete" class="btn btn-default" role="button">Delete this stylist</a></td>
      </tr>
    }
    </tbody>
  </table>
</div>

<form action="/stylists/delete" method="post">
  <button type="submit" name="button" class="btn btn-default">Clear All Stylists</button>
</form>
}
