@{
  Layout = "_Layout";
}

@if (Model.Count == 0)
{
  <h3>No Specialties yet</h3>
  <p>Select "Add a Specialty" on the navigation bar to add specialties</p>
}
else
{
<h2>Specialties</h2>
<p>Click on specialty name to see specialty details</p>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var Specialty in Model)
    {
      <tr>
        <td class="col-sm-3"><a href="/specialties/@Specialty.GetId()/details"><h3>@Specialty.GetName()</h3></a></td>
        <td class="col-sm-2"></td>
        <td class="col-sm-3"></td>
        <td class="col-sm-2"><a href="/specialties/@Specialty.GetId()/update" class="btn btn-default" role="button">Edit this Specialty</a></td>
        <td class="col-sm-2"><a href="/specialties/@Specialty.GetId()/delete" class="btn btn-default" role="button">Delete this Specialty</a></td>
      </tr>
    }
    </tbody>
  </table>
</div>

<form action="/Specialties/delete" method="post">
  <button type="submit" name="button" class="btn btn-default">Clear All Specialties</button>
</form>
}
