@{
  Layout = "_Layout";
}

</hr>
<h2>Edit Specialty: @Model.GetName()</h2>
<form class="form-inline" action="/specialties/@Model.GetId()/update" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="new-name" value="@Model.GetName()">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
