@{
  Layout = "_Layout";
}

@if (Model.Count == 0)
{
  <h3>Stylists must be entered into system before clients can be added</h3>
}
else
{
<form class="form-inline" action="/clients" method="post">
  <div class="form-group">
    <label for="new-name">Client name:</label>
    <input id="new-name" class="form-control" name="new-name" type="text" required="true">
  </div>

  <div class="form-group">
    <label for="new-stylist">Stylist:</label>
    <select class="form-control" name="new-stylist">
      @foreach(var stylist in Model)
      {
        <option value=@stylist.GetId()>@stylist.GetName()</option>
        }
    </select>
  </div>

  <div class="form-group">
    <label for="new-phone">Phone:</label>
    <input id="new-phone" class="form-control" name="new-phone" type="text" required="true">
  </div>

  <div class="form-group">
    <label for="new-notes">Notes:</label>
    <input id="new-notes" class="form-control" name="new-notes" type="text">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
}
