@{
  Layout = "_Layout";
}

<div class="well">
  <h2> Client: @Model["client"].GetName()</h2>
  <h3> Stylist: @Model["stylist"].GetName()</h3>
  <h4> Phone: @Model["client"].GetPhone()</h4>
  <h4> Notes: @Model["client"].GetNotes()</h4>
</div>
