@{
  Layout = "_Layout";
}

@if (Model.Count == 0)
{
  <h3>No Clients yet</h3>
  <p>Select "Add a Client" on the navigation bar to add clients</p>
}
else
{
<h2>Clients</h2>
<p>Click on client name to see client details</p>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Notes</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var Client in Model)
    {
      <tr>
        <td class="col-sm-3"><a href="/Clients/@Client.GetId()/details"><h3>@Client.GetName()</h3></a></td>
        <td class="col-sm-2">@Client.GetPhone()</td>
        <td class="col-sm-3">@Client.GetNotes()</td>
        <td class="col-sm-2"><a href="/Clients/@Client.GetId()/update" class="btn btn-default" role="button">Edit this Client</a></td>
        <td class="col-sm-2"><a href="/Clients/@Client.GetId()/delete" class="btn btn-default" role="button">Delete this Client</a></td>
      </tr>
    }
    </tbody>
  </table>
</div>

<form action="/Clients/delete" method="post">
  <button type="submit" name="button" class="btn btn-default">Clear All Clients</button>
</form>
}
