@{
  Layout = "_Layout";
}

@if (Model.Count == 0)
{
  <h3>No Clients yet</h3>
  <p>Select "Add a Client" on the navigation bar to add clients</p>
}
else
{
<h2>Clients</h2>
<p>Click on client name to see client details</p>
<div class="list-group">
  @foreach(var Client in Model)
  {
    <a href="/Clients/@Client.GetId()/details" class="list-group-item"><h2>@Client.GetName()</h2>  Phone: @Client.GetPhone() <p>Notes: @Client.GetNotes()</p></a>
  <a href="/Clients/@Client.GetId()/update" class="list-group-item">Edit this Client</a>
  <a href="/Clients/@Client.GetId()/delete" class="list-group-item">Delete this Client</a>
  <br/>
  }
</div>

<form action="/Clients/delete" method="post">
  <button type="submit" name="button" class="btn btn-default">Clear All Clients</button>
</form>
}
